$tablet-widths:      "min-width: 700px";
$desktop-widths:     "min-width: 1260px";
$mobile-widths-only: "max-width: 699px";
$tablet-widths-only: "max-width: 1259px";


$white:        #ffffff;
$black:        #000000;
$blue:         #0e88f3;
$name-d2e7fb:  #d2e7fb;
$name-345477:  #345477;
$name-9addfc:  #9addfc;
$name-95c9fb:  #95c9fb;
$name-a3d0fc:  #a3d0fc;
$name-315479:  #315479;
$name-1e91f7:  #1e91f7;
$name-3974ca:  #3974ca;
$name-323232:  #323232;
$name-677482:  #677482;
$name-158af4:  #158af4;

$font-family: 'Open Sans', Arial, sans-serif;




//$retina: "(min-resolution: 144dpi),
 //          (min-resolution: 1.5dppx)";




